@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  color: white;
}

body{
  min-height: 100vh;
  background-color: #121212;
}

a{
  text-decoration: none;
  color: white;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor{
  cursor: pointer;
}

.Toastify__toast {
    color: #222222 !important;
    background: #ffffff !important;
}

.Toastify__toast-body {
    color: #222222 !important;
}

.Toastify__toast-body > div:last-child {
    color: #222222 !important;
}

.Toastify__toast--success {
    color: #222222 !important;
    background: #ffffff !important;
}

.Toastify__toast--success .Toastify__toast-icon {
    color: #16a34a;
}

.Toastify__progress-bar--success {
    background: #eded05 !important;
}